flows.json
[{"id":"694facb7.60c244","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"99be8a54.7e6fe8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4f975ffc.d0a9f","type":"mqtt-broker","name":"","broker":"wss://prepro.udo-tt.com/mqtt-ws/ws","port":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c00e9b.eb6b118","type":"mqtt in","z":"694facb7.60c244","name":"UDo MQTT","topic":"tt/#","qos":"2","datatype":"auto","broker":"4f975ffc.d0a9f","x":90,"y":80,"wires":[["d31062d4.811fa"]]},{"id":"d31062d4.811fa","type":"json","z":"694facb7.60c244","name":"","property":"payload","action":"","pretty":false,"x":370,"y":80,"wires":[["4782e91.d2b3918","211bae0.c1b8552","b7ac9559.ce4a28"]]},{"id":"4f771ca2.551964","type":"nnotify","z":"694facb7.60c244","title":"Event","name":"Notification","x":850,"y":200,"wires":[]},{"id":"4782e91.d2b3918","type":"debug","z":"694facb7.60c244","name":"Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":80,"wires":[]},{"id":"211bae0.c1b8552","type":"function","z":"694facb7.60c244","name":"","func":"msg.payload = msg.payload.event\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["4f771ca2.551964"]]},{"id":"b7ac9559.ce4a28","type":"function","z":"694facb7.60c244","name":"","func":"data = JSON.parse(msg.payload.data)\nmsg.payload = data.event\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":300,"wires":[["286c931b.62447c"]]},{"id":"286c931b.62447c","type":"play audio","z":"694facb7.60c244","name":"","voice":"","x":850,"y":300,"wires":[]}]